@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    
    height: 100vh; 
    background-color: black;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0px;
    flex-direction: column;
}

#logo{
    width: 25vw;
}

h1{
    color: white;
    
    font-family: 'Lato', sans-serif;
}

#name{
    color: rgb(11, 79, 33);
    font-size: 45px;
}

#va{
    color:rgb(189, 20, 20);
    font-size: 45px;
}

#voice{
    width: 200px;
    display: none;
}

#btn{
    width: 30%;
    background: linear-gradient(to right,rgb(117, 24, 24) , rgb(47, 47, 185));
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 20px;
    color: antiquewhite;
 
    box-shadow: 2px 2px 10px rgb(117, 24, 24);
    border: none;
    transition: all 0.5s;
    cursor: pointer;
}     

#btn:hover{
  
    box-shadow: 2px 2px 20px rgb(47, 47, 185);
    letter-spacing: 2px;
}